<!DOCTYPE html>
<html>
<head>
  <title>Sourcehoney</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="shortcut icon" href="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
  <script src="//dmc1acwvwny3.cloudfront.net/atatus.js"></script>
  <script type="text/javascript">
    if (window.location.hostname === 'www.sourcehoney.com') {
      atatus.config('2b7473254b35441a8b4d4550d3017c94').install();
    }
  </script>
  <%= requirejs_include_tag "application.js" %>
  <%= csrf_meta_tags %>
</head>

<header>
  <div class="header-container">
    <div class="header-logo-container">
      <a href="/"><img id="headerLogoPic" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/sourcehoney.png"/></a>
    </div>
    <div class="rest-of-header-container">
      <% if @user_pic %>
        <img id="header-user-pic" src="<%= @user_pic %>"/>
      <% else %>
        <div id="headerLoginBtn">Login</div>
      <% end %>
      <div id="headerEllipsis" class="<%= @user_pic ? '' : 'unauthed' %>"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></div>
      <div id="headerAddProjectBtn">
        <i class="material-icons" id="addNewProject">add</i>
      </div>
      <div class="header-searchbar-container">
        <div id="mainSearchBar"></div>
      </div>
    </div>
  </div>
</header>

<body>
  <%= yield %>
</body>

<footer>
  <div id="mainFooter"></div>
</footer>

</html>
