<!DOCTYPE html>
<html>
<head>
  <title>OS</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--<%= stylesheet_link_tag "bootstrap.min.css" %>-->
  <%-# = javascript_include_tag "application" -%>
  <%= requirejs_include_tag "application.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- add placeholder application level container -->
  <div id="TheApp"> </div>

  <%= yield %>


</body>
</html>
